@import './reset.css';
@import './variable.css';
@import './base.css';

html,
body {
  font-size: 1.4rem;
  color: rgba(var(--color-text));
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
